@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&family=Poppins:ital,wght@0,400;0,500;1,300;1,400&display=swap');
:root{
  --black:#09090c;
  --grey:#a4b2bc;
  --white:#fff;
  --bg:rgba(71, 79, 97, 0.37);

}

*,*::before,*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: var(--bg);
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
 

}
.img{
  width: 200px;
  /* height: 200px; */
}
.hover{
  position: absolute;
  top: 110%;
  left: 0;
  right: 0;
  bottom: 0;


  background-color: rgba(140, 140, 141, 0.3);
  display: flex;
  justify-content: start;
  align-items: center;
opacity: 0;
  transition: top .5s linear;
}
.inner{
  position: relative;
  cursor: pointer;
}
.inner:hover .hover{
 opacity: 1;
  top: 0%;
}
Link{
  text-decoration: none;
}